@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// ***** RESETS *****
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // 1 rem = 10px > 10:16 = 0.625‬ > 62.5% 
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
}


a, 
a:visited, 
a:active {
  text-decoration: none;
}